/* ===== BOUTON MODE NUIT ===== */

/* Bouton */
.dark-mode-toggle {
    position: fixed;
    top: 30px;
    right: 100px;
    z-index: 10000;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--sage-green);
    background: var(--bg-primary);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: 0.3s ease;
    box-shadow: 0 4px 20px rgba(90, 143, 123, 0.2);
}

.dark-mode-toggle:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 25px rgba(90, 143, 123, 0.3);
}

/* Icônes */
.dark-mode-toggle .sun-icon,
.dark-mode-toggle .moon-icon {
    position: absolute;
    color: var(--forest-green);
    transition: 0.3s ease;
}

/* Style des icônes */
.dark-mode-toggle svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
}


/* État par défaut */
.sun-icon {
    opacity: 1;
    transform: rotate(0);
}

.moon-icon {
    opacity: 0;
    transform: rotate(180deg);
}

/* Mode sombre */
body.dark-mode .sun-icon {
    opacity: 0;
    transform: rotate(180deg);
}

body.dark-mode .moon-icon {
    opacity: 1;
    transform: rotate(0);
}

/* ===== RESPONSIVE ====== */

/* mobile  768px */
@media (max-width: 768px) {
    .dark-mode-toggle { right: 30px; top: 90px; width: 45px; height: 45px; }
}